/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');
/* Variables */
  :root{
    --mainColor: #19c8fa;
    --transparentColor: rgb(15 116 143 / 70%);
    --mainSecColor: #555;
    --sectionPadding: 100px;
  }
/* Global Rules */
  *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  }
  html {
  scroll-behavior: smooth;
  }
  ::selection {
  background-color: black;
  color: white;
  }
  body{
  font-family: 'Open Sans', sans-serif;
  }
  ul {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  a {
    text-decoration: none;
  }
  .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  }
/* Small Screen */
  @media (min-width: 768px) {
  .container{
    width: 750px;
  }
  }
/* Medium Screen */
  @media (min-width:992px) {
  .container{
    width: 970px;
  }
  }
/* Lager Screen*/
  @media (min-width:1200px) {
  .container{
    width: 1170px;
  }
  }
/* Styling The Header */
  header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
  }
  header .container::after {
    content: "";
    position: absolute;
    background-color: #a2a2a2;
    height: 2px;
    width: calc(100% - 30px);
    bottom: 0px;
    left: 15px;
    z-index: 1;
  }
  header .logo img{
    height: 40px;
  }
  header .logo {
    z-index: 2;
  }
  header .main-nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header .main-nav .check {
    display: none;
  }
  header .main-nav .check + .burger {
    z-index: 1;
    width: 30px;
    height: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    cursor: pointer;
  }
  @media (min-width: 768px) {
    header .check + .burger {
      display: none;
    }
  }
  header .main-nav .check + .burger span {
    height: 4px;
    width: 100%;
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    right: 0;
    transition: 0.3s;
  }
  header .main-nav .check + .burger span:first-child {
    top: 0;
  }
  header .main-nav .check:checked + .burger span:first-child {
    top: 50%;
    transform: rotate(45deg);
  }
  header .main-nav .check + .burger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  header .main-nav .check:checked + .burger span:nth-child(2) {
    opacity: 0;
  }
  header .main-nav .check + .burger span:last-child {
    bottom: 0;
  }
  header .main-nav .check:checked + .burger span:last-child {
    top: 50%;
    transform: rotate(-45deg);
  }
  header .main-nav ul {
    display: flex;
  }
  @media (max-width: 767px) {
    header .main-nav ul {
      display: none;
    }
    header .main-nav .check:checked ~ ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgb(0 0 0 / 85%);
    }
    header .main-nav a{
      padding: 15px !important;
    }
  }
  header nav ul li a{
    display: block;
    padding: 40px 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s ease;
    position: relative;
    z-index: 2;
  }
  header nav ul li:first-child a,
  header nav ul li a:hover {
    color: var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
    z-index: 2;
  }
  header nav .search {
    width: 40px;
    height: 30px;
    border-left: 2px solid white;
    margin-left: 35px;
    position: relative;
    z-index: 2;
  }
  header nav .search i {
    color: white;
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
/* Styling The Landing */
  .landing{
    min-height: 110vh;
    background-image: url("../Images/landing.jpg");
    background-size: cover;
    position: relative;
  }
  .landing .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 40%);
  }
  .landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    background-color: var(--transparentColor);
  }
  @media (max-width: 767px) {
    .landing .text {
      width: 100%;
      justify-content: center;
    }
  }
  @media (max-width: 525px) {
    .landing .text {
      padding: 40px 30px;
    }
  }
  .landing .content {
    max-width: 500px;
  }
  @media (max-width: 767px) {
    .landing .content {
      width: 100%;
    }
  }
  .landing .content h1 {
  line-height: 1.5;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: normal;
  }
  .landing .content p {
    font-size: 14px;
    line-height: 2;
  }
  .landing i {
    position: absolute;
    color: #eee;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
  }
  .landing i:hover {
    color: var(--mainColor);
  }
  @media (max-width: 767px) {
    .landing i {
      display: none;
    }
  }
  .landing .arrow-right {
  right: 25px;
  }
  .landing .arrow-left {
  left: 25px;
  }
  .landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
  }
  .landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
  }
  .landing .bullets li:nth-child(2) {
  background-color: var(--mainColor);
  border-color: var(--mainColor) ;
  }
/* Components Section Heading */
  .section-heading {
  text-align: center;
  }
  .section-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  width: fit-content;
  margin: 0 auto 70px;
  text-transform: uppercase;
  }
  @media (max-width: 767px) {
    .section-heading h2 {
      font-size: 30px;
    }
  }
  .section-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  width: 75%;
  bottom: -30px;
  }
  .section-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border: 2px solid #333;
  bottom: -39px;
  background-color: white;
  border-radius: 50%;
  }
  .section-heading p {
  margin: 0 auto 100px;
  width: 550px;
  max-width: 100%;
  line-height: 2;
  opacity: var(--mainSecColor);
  }
/* Styling The Services */
  .srv {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
  }
  .srv .srv-container  .srv-box {
    display: flex;
  }
  .srv .srv-box i {
    margin-right: 40px;
  }
  @media (min-width: 768px){
    .srv .srv-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, MinMax(450px, 1fr));
      gap: 60px 40px;
    }
  }
  @media (max-width: 767px){
    .srv .srv-container .srv-box {
      flex-direction: column;
      text-align: center;
      margin-bottom: 40px;
    }
    .srv .srv-box i{
      margin: 0 0 30px;
    }
  }
  .srv .srv-box  .text h3 {
    margin-bottom: 30px;
    color: var(--mainColor);
  }
  .srv .srv-box .text p {
    line-height: 2;
    opacity: var(--mainSecColor);
  }
/* Styling The Design */
  .design {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    height: 600px;
    background-image: url(../Images/design-features.jpg);
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
  }
  .design .image,
  .design .text{
    position: relative;
    flex: 1;
    z-index: 2;
  }
  .design .image{
    text-align: center;
  }
  @media (max-width: 767px) {
    .design .image {
      display: none;
    }
  }
  .design .image img {
    position: relative;
    bottom: -150px;
  }
  .design .text {
    padding: 50px;
    color: white;
    background-color: var(--transparentColor);
  }
  @media (max-width: 767px) {
    .design .text {
      width: 100%;
    }
  }
  .design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .design .text ul li {
    padding: 15px 0;
  }
  @media (max-width: 767px){
    .design .text ul li {
      font-size: 15px;
    }
  }
  .design .text ul li::before {
    font-family: "Font Awesome 6 Free";
    content: "\f5fc";
    font-weight: 900;
    margin-right: 20px;
  }
/* Styling The Portfolio */
  .portfolio {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  }
  .portfolio ul {
  display: flex;
  justify-content: center;
  }
  .portfolio ul li {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  }
  .portfolio ul li:first-child,
  .portfolio ul li:hover{
  background-color: var(--mainColor);
  color: white;
  }
  .portfolio .images-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  }
  .portfolio .images-container .box {
  position: relative;
  overflow: hidden;
  }
  @media (min-width: 768px) {
    .portfolio .images-container .box {
      flex-basis: 50%;
    }
  }
  @media (min-width: 1199px) {
    .portfolio .images-container .box {
      flex-basis: 25%;
    }
  }
  .portfolio .images-container .box img {
    max-width: 100%;
    transition: 0.3s ease;
  }
  .portfolio .images-container .box:hover img {
    transform: rotate(3deg) scale(1.2);
  }
  .portfolio .images-container .box .caption {
    position: absolute;
    left: 0;
    padding: 15px;
    background-color: white;
    width: 100%;
    transition: 0.3s ease;
    bottom: -100px;
  }
  .portfolio .images-container .box:hover .caption {
    bottom: 0;
  }
  .portfolio .images-container .box .caption h3 {
    font-weight: 500;
    margin-bottom: 5px;
  }
  .portfolio .images-container .box .caption p {
    color: var(--mainColor);
    font-size: 12px;
  }
  .portfolio .more {
    display: block;
    width: fit-content;
    margin: 35px auto;
    border: none;
    background-color: var(--mainColor);
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
  }
  .portfolio .more:hover {
    box-shadow: inset 0 40px 4px 0px #0077b5;
  }
/* Styling The Video Section */
  .video {
    position: relative;
    max-height: 752.5px;
  }
  .video::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 40%);
  }
  .video video {
    width: 100%;
  }
  .video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-color: var(--transparentColor);
    color: white;
    padding: 50px;
  }
  .video .text h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;
  }
  .video .text p {
    margin-bottom: 30px;
  }
  .video .text button {
    color: white;
    background-color: black;
    text-transform: uppercase;
    border: none;
    padding: 8px 16px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.4s;
  }
  .video .text button:hover {
    background-color: #333;
  }
  @media (max-width: 500px) {
    .video .text {
      padding: 10px;
    }
    .video .text h3 {
      margin: 10px 0 0;
    }
    .video .text p {
      margin: 10px 0;
    }
    .video .text button {
      padding: 5px 10px;
    }
  }
/* Styling The About */
  .about {
    padding-top: var(--sectionPadding);
    overflow: hidden;
    text-align: center;
  }
  .about img{
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
  }
  @media (max-width: 767px) {
    .about img{
      bottom: -60px;
      margin-top: -60px;
    }
  }
/* Styling The Stats */
  .stats {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    text-align: center;
    background-image: url(../Images/stats.png);
    background-size: cover;
    position: relative;
  }
  .stats::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
  }
  .stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .stats .container .box {
    padding: 50px;
    background-color: var(--transparentColor);
    color: white;
  }
  @media (max-width: 767px) {
    .stats .container .box {
      flex-basis: 100%;
      flex-direction: column;
    }
  }
  @media (min-width: 768px) {
    .stats .container .box {
      flex-basis: 50%;
    }
  }
  @media (min-width: 992px) {
    .stats .container .box {
      flex-basis: 25%;
    }
  }
  .stats .container .box .number{
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 30px;
  }
  .stats .container .box i {
    height: 40px;
    width: 40px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;
  }
  .stats .container .box p{
    font-size: 14px;
  }
/* Styling The Skills */
  .skills-section {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
  }
  .skills-section .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media (min-width: 992px) {
    .skills-section .container > div {
      flex-basis: 45%;
    }
  }
  .skills-section .container > div > h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
  }
  .skills-section .container > div > p {
    opacity: var(--mainSecColor);
    line-height: 2;
    margin-bottom: 50px;
    text-align: center;
  }
  .skills-section .testimonials .box {
    display: flex;
    margin-bottom: 30px;
  }
  .skills-section .testimonials .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
    border: 1px solid #ddd;
  }
  @media (max-width: 767px) {
    .skills-section .testimonials .box {
      flex-direction: column;
      text-align: center;
    }
    .skills-section .testimonials .box img {
      margin: 0 auto 30px;
    }
  }
  .skills-section .testimonials .box .text {
    line-height: 2;
    border-bottom: 1px solid #a2a2a2;
  }
  .skills-section .testimonials .box .text p {
    text-align: right;
    opacity: var(--mainSecColor);
    font-size: 14px;
    margin-bottom: 10px;
  }
  .skills-section .container .testimonials .bullets {
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  .skills-section .container .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #a2a2a2;
    border-radius: 50%;
    margin-right: 10px;
  }
  .skills-section .container .testimonials .bullets li:nth-child(2) {
    background-color: var(--mainColor);
    border-color: var(--mainColor) ;
  }
  .skills-section  .skills .prog-holder {
    margin-bottom: 40px;
  }
  .skills-section .skills .prog-holder h4 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .skills-section .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
  }
  .skills-section .skills .prog-holder .prog span {
    display: block;
    background-color: var(--mainColor);
    height: 100%;
    position: relative;
  }
  .skills-section .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    color: white;
    background-color: black;
    height: 25px;
    width: 40px;
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -20px;
    bottom: 40px;
    cursor: pointer;
  }
  .skills-section .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    right: -8px;
    bottom: 25px;
  }
/* Styling The Quote */
  .quote {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-image: url(../Images/quote.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
  }
  .quote::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
  }
  .quote .container {
    position: relative;
  }
  .quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
  }
  @media (max-width: 575px) {
    .quote q {
      font-size: 20px;
    }
  }
  .quote q::before {
    font-family: "Font Awesome 6 Free";
    content: "\f10d";
    font-weight: 700;
    font-size: 20px; 
    position: relative;
    top: -10px;
    margin-right: 8px;
  }
  .quote q::after {
    font-family: "Font Awesome 6 Free";
    content: "\f10e";
    font-weight: 700;
    font-size: 20px;
    position: relative;
    top: -10px;
    margin-left: 8px;
  }
/* Styling The Pricing Section */
  .pricing {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
  }
  .pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fit, MinMax(250px, 1fr));
    gap: 30px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .pricing .plans {
      grid-template-columns: repeat(auto-fit, MinMax(350px, 1fr));
    }
  }
  .pricing .plans .plan {
    text-align: center;
  }
  .pricing .plans .plan .head {
    padding: 40px 20px;
    border-bottom: 2px solid var(--mainColor);
    border-top: 2px solid var(--mainColor);
  }
  .pricing .plans .plan > .head > h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .pricing .plans .plan .head span {
    font-weight: 700;
    font-size: 50px;
  }
  .pricing .plans .plan .head span::before {
    content: "$";
    position: relative;
    font-size: 20px;
    font-weight: normal;
    margin-right: 15px;
    top: -40px;
  }
  .pricing .plans .plan .head span::after {
    content: "/mo";
    position: relative;
    font-size: 20px;
    right: -10px;
  }
  .pricing .plans .plan ul {
    border-bottom: 2px solid var(--mainColor);
  }
  .pricing .plans .plan ul li {
    padding: 20px 8px;
  }
  .pricing .plans .plan ul li:not(:last-of-type) {
    width: fit-content;
    border-bottom: 2px solid var(--mainColor);
    margin: 0 auto;
  }
  .pricing .plans .plan .foot a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 12px 24px;
    background: linear-gradient(to right, var(--mainColor) 50%, #FFF 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    border: 2px solid var(--mainColor);
    border-radius: 6px;
    color: black;
    font-weight: 700;
    transition: 0.4s ease;
  }
  .pricing .plans .plan .foot:hover a{
    background-position: left bottom;
    color: #FFF;
  }
  .pricing .contact-text {
    text-align: center;
    margin: 35px auto 25px;
    font-weight: 500;
    font-size: 20px;
  }
  @media (max-width: 767px) {
    .pricing .contact-text {
      font-size: 18px;
    }
  }
  .pricing .contact-button {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    background-color: var(--mainColor);
    width: fit-content;
    margin: 0px auto;
    border-radius: 4px;
  }
/* Styling The Subscribe */
  .sub {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-image: url(../Images/subscribe.jpg);
    background-size: cover;
    color: white;
    position: relative;
  }
  .sub::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
  }
  .sub .container {
    position: relative;
    display: flex;
    align-items: center;
  }
  .sub form {
    display: flex;
    width: 700px;
    max-width: 100%;
    position: relative;
  }
  @media (max-width: 991px) {
    .sub .container {
      flex-direction: column;
    }
    .sub form {
      width: 500px;
      max-width: 100%;
    }
  }
  .sub form i {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 25px;
  }
  .sub form input[type="email"] {
    background-color: transparent;
    padding: 20px 15px 20px 60px;
    border: 2px solid white;
    border-right: none;
    outline: none;
    caret-color: white;
    color: white;
    width: calc(100% - 100px);
  }
  .sub form input[type="submit"] {
    width: 100px;
    color: white;
    background-color: var(--mainColor);
    border: 2px solid white;
    border-left: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  .sub form input::placeholder {
    color: white;
    transition: 0.3s;
  }
  .sub form input:focus::placeholder {
    opacity: 0;
  }
  .sub p {
    font-size: 17px;
    line-height: 2;
    margin-left: 50px;
  }
  @media (max-width: 991px) {
    .sub p {
      margin: 30px auto 0;
    }
  }
/* Styling The Contact Us */
  .contact-us {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
  }
  .contact-us .content {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .contact-us .content {
      flex-direction: column-reverse;
    }
  }
  .contact-us .content form {
    flex-basis: 70%;
  }
  .contact-us .content form .main-input {
    display: block;
    padding: 20px;
    margin-bottom: 25px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
  }
  .contact-us .content form textarea {
  height: 200px;
  resize: vertical;
  }
  .contact-us .content form button {
    background-color: var(--mainColor);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    display: flex;
    margin-left: auto;
    cursor: pointer;
  }
  .contact-us .content .info {
    flex-basis: 25%;
  }
  @media (max-width: 767px) {
    .contact-us .content .info{
      margin: 0 auto 40px;
      text-align: center;
    }
  }
  .contact-us .content .info h3 {
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 18px;
  }
  .contact-us .content .info .phone {
    display: block;
    opacity: var(--mainSecColor);
    line-height: 2;
  }
  .contact-us .content .info h4:nth-of-type(2) {
    margin-top: 60px;
  }
  @media (max-width: 767px) {
    .contact-us .content .info h4:nth-of-type(2) {
      margin-top: 30px;
    }
  }
  .contact-us .content .info address {
    opacity: var(--mainSecColor);
    line-height: 2;
  }
/* Styling The Footer */
  footer {
    padding: 50px 0;
    background-color: black;
    background-size: cover;
    text-align: center;
    color: white;
  }
  footer img {
    margin-bottom: 40px;
  }
  footer .social-title {
    text-transform: uppercase;
    border-bottom: 2px solid white;
    font-size: 24px;
    width: fit-content;
    margin: 20px auto;
    padding: 0 20px 20px;
  }
  footer .social-icons {
    margin-bottom: 50px;
  }
  footer .social-icons i {
    padding: 10px 15px;
    color: #FFF;
    transition: 0.4s ease;
  }
  footer .social-icons i:hover {
    color: var(--color);
  }
  footer .rights span {
    color: var(--mainColor);
    font-weight: 700;
  }
  footer .coded {
    margin-top: 20px;
  }
  footer .coded .author {
    color: var(--mainColor);
    font-weight: 700;
  }